*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 79px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
  font-size: 12px;
  color: gray;
  letter-spacing: 2px;
}
nav .secure{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2px;
}

/* nav end */

/* section start */

section{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.main-div{
  display: flex;
  flex-direction: column;
}
#left-side{
  display: flex;
  flex-direction: column;
}
.delivery-time{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 594px;
  background-color: rgba(248, 185, 216, 0.4);
}
.pin button{
  color: red;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-color: red;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.delivery-time2{
  margin-top: 20px;
  height: 130px;
  width: 594px;
  background-color: rgba(237, 233, 235, 0.4);
  padding: 13px;
  line-height: 30px;
}
.delivery-time2 button{
  color: red;
  border: none;
}

.section-body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 60px;

}

.add-items{
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 174px;
  width: 595px;
  border: 1px solid rgb(239, 235, 235);
  border-radius: 5px;
  padding: 13px;
  gap: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.items-data{
  line-height: 20px;
}
.items-data h1{
  font-size: 15px;
}
.items-data h2{
  font-size: 15px;
  font-weight: 100;
}
.items-data .span1{
  text-decoration: line-through;
  font-size: 14px;
  color: rgb(77, 76, 76);
}
.items-data .span2{
  font-size: 15px;
  font-weight: 200;
  color: red;
}
.items-data p span{
  font-size: 20px;
  font-weight: 900;
}
.items-data h4{
  font-size: 15px;
  font-weight: 400;
}
.items-data button{
      font-size: 15px;
      color: red;
      /* font-weight: 400; */
      padding:2px 5px;
}
.items-details{
      display: flex;
      flex-direction: column;
      gap: 20px;
}
.items-details .items-data{
  display: flex;
  justify-content: space-between;
}

.items-details button{
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 5px 0;
}